.btn {
  display: block;
  position: center;
}

#formTwo {
  display: none;

}

#formThree {
  display: none;
}

#formFour {
  display: none;
}

#formFive {
  display: none;
}

#formSix {
  display: none;
}

#ruby {
  display: none;
}

#cSharp {
  display: none;
}

#fullStack {
  display: none;
}

.text1 {
  font-weight: bold;
  text-emphasis: italic;
  color: gold;
}

.text2 {
  color: brown;
}

.text3 {
  font-weight: bold;
  color: darkred;
}

img {
  float: center;
  width: 450px;
  height: auto;
}

p {
  text-align: center;
  font-family: courier;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-family: courier;
}

h1 {
  font-family: courier;
  text-align: center;
  font-weight: bold;
}

