.btn {
  padding: 10px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 3px solid black;
  color: black;
}

form#program {
  background-color: skyblue;
  text-align: center;
  color:black;
  border: 10px solid rgb(93, 138, 113);
  border-radius: 25px;
}

.ruby {
  display: none;
}

.cSharp {
  display: none;
}

.fullStack {
  display: none;
}

.text1 {
  font-weight: bold;
  text-emphasis: italic;
  color: gold;
}

.text2 {
  color: brown;
}

.text3 {
  font-weight: bold;
  color: darkred;
}

img {
  float: center;
  width: 450px;
  height: auto;
}

p {
  text-align: center;
  font-family: courier;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-family: courier;
  font-weight: bold;
}

h1 {
  font-family: courier;
  text-align: center;
  font-weight: bold;
}

