.btn {
  padding: 10px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 4px solid rgb(196, 170, 84);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.btnRefresh {
  padding: 10px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 4px solid red;
  color: red;
  display: none;
}

form#program {
  background-color: skyblue;
  text-align: center;
  color:black;
  border: 5px solid rgb(27, 37, 32);
  border-radius: 25px;
  margin: 4px;
  padding: 4px;
}

#results {
  background-color: black;
  text-align: center;
}

.ruby {
  display: none;
}

.cSharp {
  display: none;
}

.fullStack {
  display: none;
}

.text1 {
  font-weight: bold;
  text-emphasis: italic;
  color: gold;
}

.text2 {
  color: brown;
}

.text3 {
  font-weight: bold;
  color: darkred;
}

img {
  float: center;
  width: 450px;
  height: auto;
}

p {
  text-align: center;
  font-family: courier;
  font-size: 20px;
  color: whitesmoke
}

h2 {
  text-align: center;
  font-family: courier;
  font-weight: bold;
}

h1 {
  font-family: courier;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
}

h3 {
  font-family: courier;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
}

