.btn {
  display: block;
}

#language {
  display: none;
}

#netflix-scale {
  display: none;
}

#hulu-scale {
  display: none;
}

#prime-scale {
  display: none;
}

#ruby {
  display: none;
}

#csharp {
  display: none;
}

#fullstack {
  display: none;
}

.text1 {
  font-weight: bold;
  text-emphasis: italic;
  color: gold;
}

.text2 {
  color: brown;
}

.text3 {
  font-weight: bold;
  color: darkred;
}

img {
  float: center;
  width: 450px;
  height: auto;
}

h2 {
  text-align: center;
}